<section class="order-success">
<h1> Order Successful! </h1>
</section>
<div class="center-container">
<%= button_to "Back to Products", products_path, method: :get, class: "btn btn-primary order-action-btn" %>
</div>